@import url(https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400,500,700,900);
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@import url(https://use.fontawesome.com/releases/v5.2.0/css/all.css);
@import url("components/button.css");

/* Navbar */

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.logo {
  max-width: 50px;
}

.nav {
  position: fixed;
  background: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--clr-accent);
}

.nav-toggle {
  padding: .5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .icon {
  transform: rotate(.625turn);
}

.nav-open .icon::before{
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .icon::after{
  opacity: 0;
}

.icon {
  display: block;
  position: relative;
}


.icon,
.icon::before,
.icon::after {
  background: var(--clr-accent);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.icon::before,
.icon::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.icon::before { top: 6px; }
.icon::after { bottom: 6px; }

/* general styles */

html {
  scroll-behavior: smooth;
}
body {
  background: var(--clr-light);
  color: var(--clr-dark);
  font-family: 'Lora', serif;
  font-size: var(--ff-primary);
  font-weight: lighter;
  margin: 0;
}

h2, p {
  font-family: 'Varela', sans-serif;
}

section {
  padding: 5em 2em;
}

img {
  display:block;
  max-width: 100%;
}

strong { font-weight: var(--fw-bold) }

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  line-height: 1.1;
  margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }


*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #F7F9FC; 
  --clr-dark: #101935; 
  --clr-accent: #16e0bd; 
 

  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25), 0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

.section__title {
  margin-bottom: .25rem;
}

.section__title-intro {
 /* font-weight: var(--fw-reg);*/
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-accent);
  padding: .25em 1em; 
  margin-bottom: 1em;
}

.intro {
  position: relative;
}

.intro__img {
  box-shadow: var(--bs);
}

.section__subtitle--intro {
  display: inline-block;
}

.section__subtitle--work {
  color: var(--clr-light);
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}


.me_img {
  width: 300px;
  height: 300px;
}


/* Buttons */
.btn {
  display: inline-block;
  padding: .5em 2.0em;
  background: gray;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: .8rem;
  text-transform: uppercase;
  border-radius: 5px;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

.access {
  width: 100%;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

.scroll-down{
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mouse {
  width: 2.5rem;
  height: 5rem;
  border: 2px solid #000;
  border-radius: 2rem;
  margin-bottom: .5rem;
  display: flex;
}

.mouse span {
  width: 1rem;
  height: 1rem;
  background-color: var(--clr-accent);
  display: block;
  border-radius: 50%;
  margin: auto;
  animation: move-wheel 1s linear infinite;
}

.arrow span {
  display: block;
  width: 1rem;
  height: 1rem;
  border: 2px solid transparent;
  border-right-color: var(--clr-accent);
  border-bottom-color: var(--clr-accent);
  transform: rotate(45deg);
  animation: arrow-down 0.5s alternate infinite;
}

@keyframes move-wheel {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }  
  100% {
    opacity: 1;
    transform: translateY(1rem);
  }
}

@keyframes arrow-down {
  0% {
    opacity: 0;
  }  
  25% {
    opacity: .25;
  }
  50% {
    opacity: 0.5;
  }  
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}


/* My services */

.my-services {
background-color: rgba(200,100,0,.5);
background-image: url(../img/laptop.png);
background-size: cover;
background-blend-mode: multiply;
color: #FFF;
text-align: center;
}

.section__title--services{
  color: #FFF;
  position: relative;
}

.section__title--services::after {
  content: '';
  display: block;
  width: 3em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: currentColor;
  opacity: 0.5;
}

.services {
  margin-bottom: 4em;
}

.service {
  max-width: 500px;
  margin: 0 auto;
}

.about-me {
  max-width: 1000px;
  margin: 0 auto;
}

.about-me__img {
  box-shadow: var(--bs);
}


/* My work */


.my-work {
  background: linear-gradient(315deg, #1dd1a1 0%, #d3d3d3 74%);
  color: var(--clr-light);
  text-align: center;
  animation: change 10s ease-in-out infinite;
}

@keyframes change {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


.portfolio__item {
  background: var(--clr-accent);
  overflow: hidden;
  border-radius: 1px;
}

.portfolio__img {
  height: 100%;
  width: 100%;
  transition: 
    transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
}

.portfolio__item:focus {
  position: relative;
  z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
  transform: scale(1.2);
  opacity: .75;
}


/* About me */

.cv {
  text-decoration: none;
  color: inherit;
}

.cv:hover {
  cursor: pointer;
}

/* Footer */


.footer {
  background: #white;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 20px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  transition: 0.5s;
  color: rgb(115, 116, 112);
}

/* Media queries */


@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas: 
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }

  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}

@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas: 
        "title img"
        "subtitle img"
        "text img" ;
    grid-column-gap: 2em;
  }

  .section__title--about {
    grid-area: title;
  }

  .section_subtitle--about {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 3em);
  }

  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}


@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.25rem;
  }
}

@media (min-width: 800px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .service + .service {
    margin-left: 2em;
  }
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}